$standard-font: "Open Sans", Roboto, Tahoma, sans-serif;
$accent-font: "Oleo Script", Georgia, serif;

$standard-text-color: #383838;
$muted-text-color: #969696;

//Major 3rd scale (1.250)
$font-size-xxxl: 2.441em;
$font-size-xxl: 1.953em;
$font-size-xl: 1.563em;
$font-size-lg: 1.25em;
$font-size-md: 1em;
$font-size-sm: 0.8em;
$font-size-xs: 0.64em;